<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Todo App </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">To Do App</a>
    </nav>

    <div class="container">
      <div class="row-2">
        <div class="col mt-4  ">
          <p class="text text-bold col"> Add Item To List </p>
          <div class="form">
              <div class="form">
                <form class="form" action="add_item/" method="post">
                    <input type="text" name="content" class="form-control  mb-4 " placeholder="type here...">
                    <button type="submit" class="btn btn-primary btn-sm mb-4 col-4 col-sm-4">Submit</button>
                </form>
                <form class="form" action="delete_all/" method="post">
                    <button type="submit" class="btn btn-secondary btn-sm mb-4 col-4 col-sm-4" >Delete All</button>
                </form>
              </div>
          </div>
        </div>
      </div>
      <div class="row-2">
        <div class="col ">
          <ul class="list-group">
            {% for item in all_items %}
              <form class="form" action="delete_item/{{ item.id }}" method="post">
                 <li class="form-control mb-2 ">{{ item.text }}</li>
                 <button type="submit" class="btn btn-sm btn-danger mb-3 col-md-2 col-4">Delete</button>
              </form>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row-2">
        <div class="col my-2">
          <a href="{% url 'index' %}" class="btn float-right btn-dark">Back To Home Page</a>
        </div>
      </div>

    </div>

</body>














</html>